@{ ViewData["Title"] = "About us";
    <link href="https://fonts.googleapis.com/css?family=Alata" rel="stylesheet">
}

<h1>@ViewData["Title"]</h1>

<div id="content">
    <h2>Welcome to ComfyPillow</h2>
    <h3>Our Founder, Manpreet  Kaur </h3>

    <img style="width:950px;" src="https://1.bp.blogspot.com/-F_SUey7auhY/Ti541sjyarI/AAAAAAAACHk/uXnbyOLUTWo/s1600/Modern%2BConstruction%2BCompany%2BBuilding.jpg" />
    <h2>Our Team</h2>
    <h3>Chairman: Narinderpal Singh </h3>
    <h3> CEO: Gurpreet Kaur</h3>
    <h3>Designer:Anmit Kaur </h3>

    <p>
        Everyone always wants comfortable things in life.Pillows, those soft, cuddly, and supportive head structures that,
        to most of us, appear to be a necessity.
        <h1>Our History:</h1>
    <p>
        We started our business in 2012. At that time, We open a showroom of pillows. After hard work, we start our company of pillows in 2022 named Comfy pillow. We sell different types of pillows.
        We also give big discounts on special events.


    </p>
</div>
<style>
    #content {
        max-width: 950px;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-family: 'Alata';
    }

    h1 {
        text-align: center;
        color: blue;
    }

    h2 {
        color: blue;
    }

    h3 {
        color: blue;
    }

    p {
        color: green;
    }

    body {
        background-color: #D3D3D3;
    }
</style>

