@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to ComfyPillow</strong></h1>
    <h2>
        Our all-natural selection of all pillows will transform your sleep,
        your tired muscles - and your life! The Comfy Pillow welcomes you to the
        most extensive selection of pillows in the country!
    </h2>
    <h3>Our pillows are proudly manufactured, filled, and packaged in <em>Windsor, Ontario.</em></h3>
    <img src="https://rnb.scene7.com/is/image/roomandboard/velvet_191546_14e_g?wid=960&hei=707&op_usm=.8,.8,2,0&resMode=sharp2" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    <style>
        h1 {
            background-color: yellow;
        }

        body {
            background-color: #D3D3D3
        }
    </style>
}

